* {
    marging: 0;
    padding: 0;
}
body {
    width: 300px;
    height: 500px;
    max-height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: #2c2c2c;
    color: white;
}
h1,
h2,
h3 {
    text-align: center;
}

ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    flex: 1;
    width: 100%;
}
li {
    list-style: none;
    display: flex;
    border-left: 2px solid white;
    padding: 2px;
    width: 100%;
    gap: 5px;
    justify-content: space-between;
    align-items: flex-start;
}
li button {
    flex: 0;
    padding: 0.3rem 1rem;
}

img {
    width: 32px;
    height: 32px;
}

li p {
    flex: 1;
    margin-left: 0.5rem;
}

a {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.5rem;
    background-color: white;
    padding: 2px 4px;
}

.container::-webkit-scrollbar {
    display: none;
}
.box {
    display: flex;
    width: 100%;
    gap: 0.5rem;
}

.add-input {
    outline: none;
    padding: 8px;
    border-radius: 0.5rem;
    font-size: 14px;
    border: none;
    flex: 1;
}

button {
    border-radius: 0.5rem;
    font-size: 16px;
    border: none;
    background-color: white;
    padding: 4px 0px;
    /* width: 90px; */
    flex: 1;
}

li button {
    border: none;
    border-radius: 0.5rem;
    width: 32px;
    height: 32px;
    display: grid;
    place-items: center;
    background-color: transparent;
    background-image: url("trash.png");
    background-position: center;
    background-size: 80%;
    background-repeat: no-repeat;
    cursor: pointer;
}
